## Deliverable 2. Create a Customer Travel Destinations Map.

In [27]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
0,0,Rikitea,PF,2022-06-09 02:14:12,-23.1203,-134.9692,72.52,68,100,15.10,overcast clouds,0.0,0.0
1,1,Pevek,RU,2022-06-09 02:14:12,69.7008,170.3133,43.68,66,71,5.77,broken clouds,0.0,0.0
2,2,Atuona,PF,2022-06-09 02:14:12,-9.8000,-139.0333,78.57,73,16,18.84,few clouds,0.0,0.0
3,3,Esperance,AU,2022-06-09 02:14:13,-33.8667,121.9000,57.83,62,58,16.82,broken clouds,0.0,0.0
4,4,Busselton,AU,2022-06-09 02:14:13,-33.6500,115.3333,59.52,77,53,19.62,broken clouds,0.0,0.0

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
2,2,Atuona,PF,2022-06-09 02:14:12,-9.8000,-139.0333,78.57,73,16,18.84,few clouds,0.0,0.0
6,6,Chiang Mai,TH,2022-06-09 02:14:14,18.7500,99.0000,82.60,75,75,9.22,broken clouds,0.0,0.0
9,9,Butaritari,KI,2022-06-09 02:14:15,3.0707,172.7902,81.97,72,6,11.16,clear sky,0.0,0.0
21,21,Kyabe,TD,2022-06-09 02:14:20,9.4515,18.9449,76.30,76,100,8.08,overcast clouds,0.0,0.0
22,22,Cayenne,GF,2022-06-09 02:14:21,4.9333,-52.3333,82.09,1,20,0.00,few clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
687,687,Phan Thiet,VN,2022-06-09 02:18:41,10.9333,108.1000,85.86,65,50,1.25,scattered clouds,0.0,0.0
690,690,Numaran,MX,2022-06-09 02:18:42,20.2500,-101.9333,75.51,46,88,1.99,overcast clouds,0.0,0.0
691,691,Bari Sadri,IN,2022-06-09 02:18:42,24.4167,74.4667,83.82,57,0,16.49,clear sky,0.0,0.0
693,693,Ono,JP,2022-06-09 02:18:43,34.8500,134.9333,78.28,46,34,4.14,scattered clouds,0.0,0.0
695,695,Sampit,ID,2022-06-09 02:18:44,-2.5333,112.9500,78.49,93,79,1.23,broken clouds,0.0,0.0

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City ID                    0
City                       0
Country                    0
Date                       0
Lat                        0
Lng                        0
Max Temp                   0
Humidity                   0
Cloudiness                 0
Wind Speed                 0
Current Description        0
Rain inches (last 3hrs)    0
Snow inches (last 3hrs)    0
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
2,2,Atuona,PF,2022-06-09 02:14:12,-9.8000,-139.0333,78.57,73,16,18.84,few clouds,0.0,0.0
6,6,Chiang Mai,TH,2022-06-09 02:14:14,18.7500,99.0000,82.60,75,75,9.22,broken clouds,0.0,0.0
9,9,Butaritari,KI,2022-06-09 02:14:15,3.0707,172.7902,81.97,72,6,11.16,clear sky,0.0,0.0
21,21,Kyabe,TD,2022-06-09 02:14:20,9.4515,18.9449,76.30,76,100,8.08,overcast clouds,0.0,0.0
22,22,Cayenne,GF,2022-06-09 02:14:21,4.9333,-52.3333,82.09,1,20,0.00,few clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
687,687,Phan Thiet,VN,2022-06-09 02:18:41,10.9333,108.1000,85.86,65,50,1.25,scattered clouds,0.0,0.0
690,690,Numaran,MX,2022-06-09 02:18:42,20.2500,-101.9333,75.51,46,88,1.99,overcast clouds,0.0,0.0
691,691,Bari Sadri,IN,2022-06-09 02:18:42,24.4167,74.4667,83.82,57,0,16.49,clear sky,0.0,0.0
693,693,Ono,JP,2022-06-09 02:18:43,34.8500,134.9333,78.28,46,34,4.14,scattered clouds,0.0,0.0
695,695,Sampit,ID,2022-06-09 02:18:44,-2.5333,112.9500,78.49,93,79,1.23,broken clouds,0.0,0.0

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Atuona,PF,78.57,few clouds,-9.8000,-139.0333,
6,Chiang Mai,TH,82.60,broken clouds,18.7500,99.0000,
9,Butaritari,KI,81.97,clear sky,3.0707,172.7902,
21,Kyabe,TD,76.30,overcast clouds,9.4515,18.9449,
22,Cayenne,GF,82.09,few clouds,4.9333,-52.3333,
23,Kapaa,US,80.58,few clouds,22.0752,-159.3190,
31,Yellowknife,CA,77.56,clear sky,62.4560,-114.3525,
43,Faanui,PF,79.00,moderate rain,-16.4833,-151.7500,
45,Riyadh,SA,82.54,clear sky,24.6877,46.7219,
46,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [28]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Atuona,PF,78.57,few clouds,-9.8000,-139.0333,Villa Enata
6,Chiang Mai,TH,82.60,broken clouds,18.7500,99.0000,Centara Riverside Hotel Chiangmai
9,Butaritari,KI,81.97,clear sky,3.0707,172.7902,Isles Sunset Lodge
22,Cayenne,GF,82.09,few clouds,4.9333,-52.3333,Hôtel Le Dronmi
23,Kapaa,US,80.58,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
687,Phan Thiet,VN,85.86,scattered clouds,10.9333,108.1000,Hotel Saigon-PT
690,Numaran,MX,75.51,overcast clouds,20.2500,-101.9333,La Conquista La Piedad
691,Bari Sadri,IN,83.82,clear sky,24.4167,74.4667,Durga Auto and vishvkarma service badisadri ra...
693,Ono,JP,78.28,scattered clouds,34.8500,134.9333,オーラ 小野店
695,Sampit,ID,78.49,broken clouds,-2.5333,112.9500,Aquarius Boutique Hotel Sampit

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))